$main-color: #FFD15B;
$second-color: #7a7a7a;

$main-font: Anton;
$second-font: Manrope;

* {
    margin: 0;
}
body {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

h2 {
    font-size: 18px;
    font-family: $main-font;
    font-weight: 400;
}

h3 {
    font-family: $second-font;
    color: $second-color;
    font-size: 12px;
    font-weight: 700;
}

header {
    background-image: url(../datas/header_pic.png);
    background-position: cover;
    height: 667px;
    max-width: 1440px;
    width: 100%;
    background-position: 50% 25%;

    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    & .logo {
        position: absolute;
        top: 5%;
        left: 5%;
    }

    & h1 {
        font-size: 44px;
        color: $main-color;
        font-family: $main-font;
        font-weight: 400;
        flex-wrap: wrap;
        max-width: 700px;
        top: 33%;
        margin-left: 100px;
        margin-right: 100px;
        text-align: center;
        text-shadow: 5px 5px 5px 5px rgba($color: black, $alpha: 1);

        @media (max-width: 730px) {
            font-size: 36px;
        }

        @media (max-width: 635px) {
            font-size: 32px;
        }

        @media (max-width: 470px) {
            font-size: 28px;
        }
    }

    & nav {
        position: relative;
        width: 80%;
        max-width: 954px;
        & form {

            & input#search {
                position: relative;
                max-width: 954px;
                width: 100%;
                height: 72px;
                border-radius: 10px;
                border: none;
                box-sizing: border-box;
                padding: 30px;
                box-shadow: 5px 5px 5px 5px rgba($color: black, $alpha: 0.3);
                font-family: $second-font;
                font-size: 16px;
                font-weight: 400;
                color: $second-color;
                text-overflow: ellipsis;

                @media (max-width : 570px) {
                    height: 64px;

                }
            }

            & .clear-icon {
                position: absolute;
                right: 75px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                display: none;
                font-family: $second-font;
                color: $second-color;
            }

            & button#find{
                height: 52px;
                width: 52px;
                background-color: black;
                border: none;
                border-radius: 10px;
                position: absolute;
                right: 10px;
                top: 10px;
                bottom: 10px;

                @media (max-width : 570px) {
                    height: 44px;
                    width: 44px;
                }

                &:hover {
                    cursor: pointer;
                    opacity: 0.8;
                    transition: 0.15s;
                }

                &:not(:hover) {
                    transition: 0.2s;
                }

                & em {
                    font-size: 28px;
                    color: white;
                }
            }
        }
    }
}

main {
    width: 100%;
    max-width: 1440px;
    background-color: #ededed;
    margin: auto;
    position: relative;
    box-sizing: border-box;

    & section.filters {

        padding: 0px 110px;
        position: relative;
        top: 30px;
        z-index: 10;
        width: 100%;
        max-width: 1440px;
        box-sizing: border-box;
        row-gap: 25px;

        @media (max-width:1269px) {
            width: 100%;
            max-width: 954px;
            margin: auto;
            padding: 55px;
            box-sizing: border-box;
        }

        @media (max-width:520px) {
            justify-content: center;
        }

        & .dropdown {
            flex: 0 1 0;
            box-sizing: border-box;
            padding: 0;
            margin-right: 50px;
            align-items: center;

            @media (max-width:1269px) {
                margin-right: 10px;
            }

        }

        & .dropdown-menu, .dropdown button {
            width: 195px;
            border: none;
            border-radius: 8px;
            font-family: $second-font;
            font-weight: 500;
            font-size: 16px;
            padding: 17px 16px;
            width: 195px;
            background-color: white;
            color: #1b1b1b;
        }

        & button {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        & .dropdown-menu {
            border-radius: 0 0 11px 11px;
            display: none;
            flex-direction: column;
            justify-content: space-between;
            gap: 5px;
            padding: 0;
            box-sizing: border-box;
            height: 400px;
            overflow-y: scroll;
            overflow-x: hidden;

            & .selectedFilters {
                margin: 0;
                padding: 0;
                height: fit-content;
                width: 100%;
                gap: 0;
                margin-bottom: 10px;
            }

            &::-webkit-scrollbar {
                width: 20px;
                display: none;
            }
              
            &::-webkit-scrollbar-track {
            background-color: white;
            border-radius: 0 0 8px 0;
            }
            
            &::-webkit-scrollbar-thumb {
            border-radius: 600px;
            border: 4px solid transparent;
            background-clip: content-box;
            background-color: #c6c6c6;

                &:hover {
                    background-color: $main-color;
                }
            }
            & p {
                margin: 0;
            }
            & label {
                display: flex;
                justify-content: start;
                box-sizing: border-box;
                padding: 10px 16px;

                &:hover {
                    cursor: pointer;
                }

                &.selectedFilter {
                    display: flex;
                    position: relative;
                    justify-content: start;
                    box-sizing: border-box;
                    padding: 10px 16px;
                    background-color: $main-color;
                    width: 100%;

                    &:hover::before {
                        content: '';
                        position: absolute;
                        width: 6%;
                        height: 2px;
                        background-color: #333; /* Couleur de la croix, changez-la selon vos besoins */
                        top: 50%;
                        right: 8%;
                        transform: translateY(-50%) rotate(45deg);
                    }

                    &:hover::after {
                        content: '';
                        position: absolute;
                        width: 6%;
                        height: 2px;
                        background-color: #333; /* Couleur de la croix, changez-la selon vos besoins */
                        top: 50%;
                        right: 8%;
                        transform: translateY(-50%) rotate(-45deg);
                    } 
                }
            }

            & .labelForChoice {
                font-weight: 400;
                &:hover {
                    font-weight: 700;
                }
   
            }

            & input[type="text"] {
                width: 100%;
                height: 36px;
                border: 1px solid #c6c6c6;
                border-radius: 3px;
                font-size: 14px;
                color: #7a7a7a;

                &:focus {
                    outline: none;
                }
            }

            & input[type="checkbox"] {
                appearance: none;

            }
        }

        & .dropdown:hover .dropdown-menu {
            display: flex;
            transition: 0;
        }

        & .dropdown:hover button {
            border-radius: 8px 8px 0 0;
            transition: 0;
        }

        & .dropdown:active button {
            background-color: white;
            color: black;
        }

        & .dropdown:hover > .dropdown-menu {
            box-shadow: 10px 12px 10px 0px rgba($color: black, $alpha: 0.08);
        }


        & .results {
            text-align: end;
            padding: 18px 0 0 0;

            @media (max-width:520px) {
              flex-basis: 100%;
              text-align: center;
            }
        }

        & .selectedFilters {
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            gap: 15px;
            padding: 0;
            box-sizing: border-box;
            position: relative;
            margin-bottom: 50px;

            & .oneFilter {
                width: fit-content;
                position: relative;
                max-width: 200px;
                height: 53px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 100px;
                font-size: 14px;
                font-weight: 400;
                color: black;
                background-color: $main-color;
                padding: 17px 25px 17px 18px;
                border-radius: 10px;
                margin-right: 10px;

                & p {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 80%;
                    white-space: nowrap;
                    flex-wrap: nowrap;
                    margin: 0;
                }

                &:hover {
                    font-weight: 700;
                    cursor: pointer;
                    transition: 0.1s;

                    &::before {
                        height: 3px;
                    }
                    &::after {
                        height: 3px;
                    }
                }

                &:not(:hover) {
                    transition: 0.1s;
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 2px;
                    background-color: #333; /* Couleur de la croix, changez-la selon vos besoins */
                    top: 53%;
                    right: 7px;
                    transform: translateY(-50%) rotate(45deg);
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 2px;
                    background-color: #333; /* Couleur de la croix, changez-la selon vos besoins */
                    top: 53%;
                    right: 7px;
                    transform: translateY(-50%) rotate(-45deg);
                } 
            }
        }
    }

    & section.recipes {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        padding: 10px 10px;
        width: 100%;
        box-sizing: border-box;
      

        & article {
            position: relative;
            box-shadow: 4px 4px 40px 8px rgba($color: black, $alpha: 0.04);
            border-radius: 10px;
            height: 731px;
            width: 380px;
            box-sizing: border-box;
            background-color: white;

            & * {
                text-overflow: ellipsis;
            }

            & img {
                width: 100%;
                height: 253px;
                border-radius: 10px 10px 0 0;
                object-fit: cover;
            }

            .recipeDuration {
                position: absolute;
                top: 15px;
                right: 15px;
                width: 65px;
                box-sizing: border-box;
                height: 26px;
                color: #1b1b1b;
                font-family: $second-font;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                background-color: $main-color;
                border-radius: 14px;
                padding: 5px 15px;
            }

            .recipeText {

                padding:25px;
                box-sizing: border-box;
                // display: flex;
                // flex-direction: column;
                // justify-content: center;
                // align-items: start;
                // gap: 30px;
                display: grid;
                grid-template-rows: 1fr 0.5fr 2fr 0.5fr 4fr;
                height: 478px;

                & .recipeDescription {
                    font-family: $second-font;
                    font-size: 14px;
                    font-weight: 500;
                }

                & .ingredientName {
                    font-family: $second-font;
                    font-size: 14px;
                    font-weight: 500;
                }
    
                & .ingredientQuantity {
    
                    font-family: $second-font;
                    font-style: normal;
                    color: $second-color;
                    font-size: 14px;
                    font-weight: 400;
                }

                & .ingredientList {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 40% 40%;
                    grid-template-rows: 1fr 1fr 1fr;
                    column-gap: 20%;

                    & .ingredient {
                        margin-bottom: 30px;
                        max-height: 19px;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}

