* {
  margin: 0;
}

body {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

h2 {
  font-size: 18px;
  font-family: Anton;
  font-weight: 400;
}

h3 {
  font-family: Manrope;
  color: #7a7a7a;
  font-size: 12px;
  font-weight: 700;
}

header {
  background-image: url(../datas/header_pic.png);
  background-position: cover;
  height: 667px;
  max-width: 1440px;
  width: 100%;
  background-position: 50% 25%;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
header .logo {
  position: absolute;
  top: 5%;
  left: 5%;
}
header h1 {
  font-size: 44px;
  color: #FFD15B;
  font-family: Anton;
  font-weight: 400;
  flex-wrap: wrap;
  max-width: 700px;
  top: 33%;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  text-shadow: 5px 5px 5px 5px black;
}
@media (max-width: 730px) {
  header h1 {
    font-size: 36px;
  }
}
@media (max-width: 635px) {
  header h1 {
    font-size: 32px;
  }
}
@media (max-width: 470px) {
  header h1 {
    font-size: 28px;
  }
}
header nav {
  position: relative;
  width: 80%;
  max-width: 954px;
}
header nav form input#search {
  position: relative;
  max-width: 954px;
  width: 100%;
  height: 72px;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  padding: 30px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  color: #7a7a7a;
  text-overflow: ellipsis;
}
@media (max-width: 570px) {
  header nav form input#search {
    height: 64px;
  }
}
header nav form .clear-icon {
  position: absolute;
  right: 75px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: none;
  font-family: Manrope;
  color: #7a7a7a;
}
header nav form button#find {
  height: 52px;
  width: 52px;
  background-color: black;
  border: none;
  border-radius: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  bottom: 10px;
}
@media (max-width: 570px) {
  header nav form button#find {
    height: 44px;
    width: 44px;
  }
}
header nav form button#find:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.15s;
}
header nav form button#find:not(:hover) {
  transition: 0.2s;
}
header nav form button#find em {
  font-size: 28px;
  color: white;
}

main {
  width: 100%;
  max-width: 1440px;
  background-color: #ededed;
  margin: auto;
  position: relative;
  box-sizing: border-box;
}
main section.filters {
  padding: 0px 110px;
  position: relative;
  top: 30px;
  z-index: 10;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  row-gap: 25px;
}
@media (max-width: 1269px) {
  main section.filters {
    width: 100%;
    max-width: 954px;
    margin: auto;
    padding: 55px;
    box-sizing: border-box;
  }
}
@media (max-width: 520px) {
  main section.filters {
    justify-content: center;
  }
}
main section.filters .dropdown {
  flex: 0 1 0;
  box-sizing: border-box;
  padding: 0;
  margin-right: 50px;
  align-items: center;
}
@media (max-width: 1269px) {
  main section.filters .dropdown {
    margin-right: 10px;
  }
}
main section.filters .dropdown-menu, main section.filters .dropdown button {
  width: 195px;
  border: none;
  border-radius: 8px;
  font-family: Manrope;
  font-weight: 500;
  font-size: 16px;
  padding: 17px 16px;
  width: 195px;
  background-color: white;
  color: #1b1b1b;
}
main section.filters button {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section.filters .dropdown-menu {
  border-radius: 0 0 11px 11px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  padding: 0;
  box-sizing: border-box;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
main section.filters .dropdown-menu .selectedFilters {
  margin: 0;
  padding: 0;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  gap: 0;
  margin-bottom: 10px;
}
main section.filters .dropdown-menu::-webkit-scrollbar {
  display: none;
}
main section.filters .dropdown-menu::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 0 0 8px 0;
}
main section.filters .dropdown-menu::-webkit-scrollbar-thumb {
  border-radius: 600px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #c6c6c6;
}
main section.filters .dropdown-menu::-webkit-scrollbar-thumb:hover {
  background-color: #FFD15B;
}
main section.filters .dropdown-menu p {
  margin: 0;
}
main section.filters .dropdown-menu label {
  display: flex;
  justify-content: start;
  box-sizing: border-box;
  padding: 10px 16px;
}
main section.filters .dropdown-menu label:hover {
  cursor: pointer;
}
main section.filters .dropdown-menu label.selectedFilter {
  display: flex;
  position: relative;
  justify-content: start;
  box-sizing: border-box;
  padding: 10px 16px;
  background-color: #FFD15B;
  width: 100%;
}
main section.filters .dropdown-menu label.selectedFilter:hover::before {
  content: "";
  position: absolute;
  width: 6%;
  height: 2px;
  background-color: #333;
  top: 50%;
  right: 8%;
  transform: translateY(-50%) rotate(45deg);
}
main section.filters .dropdown-menu label.selectedFilter:hover::after {
  content: "";
  position: absolute;
  width: 6%;
  height: 2px;
  background-color: #333;
  top: 50%;
  right: 8%;
  transform: translateY(-50%) rotate(-45deg);
}
main section.filters .dropdown-menu .labelForChoice {
  font-weight: 400;
}
main section.filters .dropdown-menu .labelForChoice:hover {
  font-weight: 700;
}
main section.filters .dropdown-menu input[type=search] {
  width: 100%;
  height: 36px;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  font-size: 14px;
  color: #7a7a7a;
}
main section.filters .dropdown-menu input[type=search]:focus {
  outline: none;
}
main section.filters .dropdown-menu input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
main section.filters .dropdown.open .dropdown-menu {
  display: flex;
  transition: 0;
}
main section.filters .dropdown.open button {
  border-radius: 8px 8px 0 0;
  transition: 0;
}
main section.filters .dropdown.open:active button,
main section.filters .dropdown:active button {
  background-color: white;
  color: black;
}
main section.filters .dropdown.open:hover button,
main section.filters .dropdown:hover button {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
main section.filters .dropdown-menu {
  box-shadow: 10px 12px 10px 0px rgba(0, 0, 0, 0.08);
}
main section.filters .results {
  text-align: end;
  padding: 18px 0 0 0;
}
@media (max-width: 520px) {
  main section.filters .results {
    flex-basis: 100%;
    text-align: center;
  }
}
main section.filters .selectedFiltersBubbles {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 15px;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 50px;
}
main section.filters .selectedFiltersBubbles .oneFilter {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  max-width: 200px;
  height: 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  font-size: 14px;
  font-weight: 400;
  color: black;
  background-color: #FFD15B;
  padding: 17px 25px 17px 18px;
  border-radius: 10px;
  margin-right: 10px;
}
main section.filters .selectedFiltersBubbles .oneFilter p {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  white-space: nowrap;
  flex-wrap: nowrap;
  margin: 0;
}
main section.filters .selectedFiltersBubbles .oneFilter:hover {
  font-weight: 700;
  cursor: pointer;
  transition: 0.1s;
}
main section.filters .selectedFiltersBubbles .oneFilter:hover::before {
  height: 3px;
}
main section.filters .selectedFiltersBubbles .oneFilter:hover::after {
  height: 3px;
}
main section.filters .selectedFiltersBubbles .oneFilter:not(:hover) {
  transition: 0.1s;
}
main section.filters .selectedFiltersBubbles .oneFilter::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #333;
  top: 53%;
  right: 7px;
  transform: translateY(-50%) rotate(45deg);
}
main section.filters .selectedFiltersBubbles .oneFilter::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #333;
  top: 53%;
  right: 7px;
  transform: translateY(-50%) rotate(-45deg);
}
main section.recipes {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  padding: 10px 10px;
  width: 100%;
  box-sizing: border-box;
  min-height: 500px;
}
main section.recipes ul {
  color: #545454;
  font-size: 30px;
  margin-top: 50px;
  height: 500px;
}
main section.recipes ul p {
  font-weight: 500;
}
main section.recipes ul i {
  display: block;
  margin-top: 50px;
  font-size: 16px;
}
main section.recipes article {
  position: relative;
  box-shadow: 4px 4px 40px 8px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  height: 731px;
  width: 380px;
  box-sizing: border-box;
  background-color: white;
}
main section.recipes article * {
  text-overflow: ellipsis;
}
main section.recipes article img {
  width: 100%;
  height: 253px;
  border-radius: 10px 10px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
main section.recipes article .recipeDuration {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 65px;
  box-sizing: border-box;
  height: 26px;
  color: #1b1b1b;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  background-color: #FFD15B;
  border-radius: 14px;
  padding: 5px 15px;
}
main section.recipes article .recipeText {
  padding: 25px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr 0.5fr 2fr 0.5fr 4fr;
  height: 478px;
}
main section.recipes article .recipeText .recipeDescription {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
}
main section.recipes article .recipeText .ingredientName {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
}
main section.recipes article .recipeText .ingredientQuantity {
  font-family: Manrope;
  font-style: normal;
  color: #7a7a7a;
  font-size: 14px;
  font-weight: 400;
}
main section.recipes article .recipeText .ingredientList {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 1fr 1fr 1fr;
  -moz-column-gap: 20%;
       column-gap: 20%;
}
main section.recipes article .recipeText .ingredientList .ingredient {
  margin-bottom: 30px;
  max-height: 19px;
  text-overflow: ellipsis;
}/*# sourceMappingURL=style.css.map */